<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explorar" href="/tabs/explorar">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avisos" href="/tabs/avisos">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-label>Avisos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
